@model string

<h1>Guid on page: @Model</h1>

<partial name="_Singleton" />


<p>
    Useful for?
</p>

<ul>
    <li>Caching Services</li>
    <li>Global Configuration</li>
    <li>Business Rules</li>
    <li>HttpClients <a href="https://medium.com/@@nuno.caneco/c-httpclient-should-not-be-disposed-or-should-it-45d2a8f568bc">Reason Why</a></li>
    <li>Persisting state that's useful for the runtime of the application</li>
</ul>
