@inject ISingletonService Singleton

<div class="card">
	<div class="card-header">
		<h5>2nd request to GetGuid() from Singleton service</h5>
	</div>
	<div class="card-body">
		<code>@Singleton.GetGuid()</code>
	</div>
</div>